#element1 {
  position: relative;
  z-index: 1;
  top: 65px;
  background-image: url(closet.jpg);
  height: 630px;
  color: blue;
  background-color: blue;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#content1 {
  position: relative;
  z-index: 2;
  top: -500px;
  background-color: black;
  height: 520px;
  opacity: 0.65;
}

#signup {
  overflow: hidden;
  position: relative;
  z-index: 3;
  top: -1035px;
  text-align: center;
  height: 550px;
  color: white;
  font-family: 'Raleway', sans-serif;
}


#login {
  position: relative;
  z-index: 3;
  top: -700px;
  text-align: center;
  height: 324px;
  color: white;
}

#logo {
 height: 140px;
 margin-bottom: -53px;
}

.instagram button {
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #56D6F9;
  border: 3px solid #56D6F9;
}


/*.instagram input {
  color: #56D6F9;
  border: 3px solid #56D6F9;
}*/

.registernow a{
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  color: rgb(86, 214, 249);
}

.registernow a:hover {
  text-decoration: underline;
}

#register {
  margin-top: -30px;
}

.registerbox form{
  text-align: center;
}

.registerbox input {

}


#register input{
  font-size: 1em;
  margin-bottom: 5px;
  /*color: black;*/
}

.instagramnew button{
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #56D6F9;
  border: 3px solid #56D6F9;
}

.instagramnew {
  margin-top: 50px;
}

.registernow {
  font-size: 1.5em;
}

#logoindex {
  height: 200px;
  margin-bottom: -35px;

}

.newbuttons {
    margin-top: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #56D6F9;
  border: 3px solid #56D6F9;
}

#sidelogo {
  height: 100px;
  float: right;
}

#signinbutton {
  /*color: #56D6F9;*/
}

#email {
  color: black;
}

#password {
  color: black;
}

#user_username {
color: black;
  margin-top: 5px;

}

#user_email {
color: black;
  margin-top: 5px;
    vertical-align: bottom;

}

#user_password {
color: black;
  margin-top: 5px;
    vertical-align: bottom;

}

#user_password_confirmation {
  color: black;
  margin-top: 5px;
    vertical-align: bottom;
}

#registerheader {
  font-size: 1.2em;
  margin-top: 30px;

}

table {
  text-align: left;
  margin: auto;

}

td {
  padding-left: 10px;
}

#msg {
  margin-top: 25px;
  margin-bottom: -30px;
}


#hello {
  font-size: 1.2em;
  margin-bottom: 40px;
}